@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p> I am Lovepreet</p>
    <p><img src="~/image/smile 1.png" alt="Lovepreet's beautiful face"  /></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
